/* styles.css */

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative; /* Make the body relatively positioned */
}


#navbar{
    display: flex;
    justify-content: flex-end;
    padding:5px 5px 0 0 ;
    flex: 1;
}
#logout {
    top: 10px; /* Position from the top */
    left: 10px; /* Position from the left */
    background-color: #009879;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
#logout a{
    text-decoration: none;
    color: white;
}

#logout:hover {
    background-color: #c20202; /* Darker shade of green on hover */
}

#body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select {
    font-size: 16px;
    padding: 5px;
}

input[type="submit"] {
    background-color: #009879;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #007864;
}
